<footer>
    <section class="footer-about container">
        <div class="links">
                <a href="/">Home</a>
                <a href="/on-the-menu">On the Menu</a>
                <a href="/sign-up">Sign up</a>
                <a href="/log-in">Log in</a>
        </div>
        <div class="social">
            <p>Social</p>
            <div class="social-icons container">
            <a href="https://www.facebook.com" target="_blank" class="icon facebook">
                <img src="/images/facebook.png" alt="Facebook" width="30" height="30">
            </a>
            
            <a href="https://www.instagram.com" target="_blank" class="icon instagram">
                <img src="/images/instagram.png" alt="Instagram" width="30" height="30">
            </a>
            
            <a href="https://www.linkedin.com" target="_blank" class="icon linkedin">
                <img src="/images/linkedin.png" alt="LinkedIn" width="30" height="30">
            </a>
            
            <a href="https://www.youtube.com" target="_blank" class="icon youtube">
                <img src="/images/youtube.png" alt="YouTube" width="30" height="30">
            </a>
            </div>
        </div>
    </section>
    <hr>
    <section class="footer-copyright">
        <div class="copyright">
            <p>By submitting this assignment I declare that this assignment is my own work in accordance with the Seneca Academic Policy. 
                No part of this assignment has been copied manually or electronically from any other source (including web sites) or distributed to other</p>
            <p>© Joao Vitor Cunha, jvtopanotti-da-cunha@myseneca.ca, WEB322 Winter 2024</p>
        </div>
    </section>

</footer>