<header class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/">
    <img id="logo" src="/images/logo2.png" alt="Logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="container-fluid">
      <div class="row flex-grow-1">
        <div class="col d-flex justify-content-start" id="container-nav-items1">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/mealkits">Meal Kits</a>
        </div>
        <div class="col d-flex justify-content-end" id="container-nav-item2">
          <a class="nav-link" href="/sign-up" style="color: red">Sign up</a>
          <a class="nav-link" id="log-in" href="/log-in">Log in</a>
        </div>
      </div>
    </div>
  </div>
</header>
