<header class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/">
    <img id="logo" src="/images/logo2.png" alt="Logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="container-fluid">
      <div class="row flex-grow-1">
        <div class="col d-flex justify-content-start" id="container-nav-items1">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/mealkits">Meal Kits</a>
        </div>
        <div class="col d-flex justify-content-end" id="container-nav-item2">
          <% if (user) { %>
          <a class="nav-link" href="/logout" style="color: red">Log Out</a>
          <% if (role === "customer") { %>
          <a class="nav-link" id="log-in" href="/cart">
            <span class="fas fa-cart-plus mr-2"></span> 
            <%-user.firstName%>'s Cart <span class="cart-number"> <% 
              let totalQuantity = 0;
              cart.forEach(cartMeal => { 
                  totalQuantity += cartMeal.quantity; 
              }); 
              %>
              <%= totalQuantity %></span></a>
          <% } else if (role === "data-clerk") { %>
          <a class="nav-link" id="log-in" href="/mealkits/list"
            >Data Manipulation</a
          >
          <% } %> <% } else { %>
          <a class="nav-link" href="/sign-up" style="color: red">Sign up</a>
          <a class="nav-link" id="log-in" href="/log-in">Log in</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</header>
