<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KuKeen</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/images/chef-hat.ico" type="image/x-icon">
</head>
<body>
    <main>
        <header class="nav-bar">
            <div>
                <a class='logo-anchor' href="/"><img id='logo' src="/images/logo2.png" alt="Logo written Kukeen"></a>
                <a href="/">Home</a>
                <a href="/on-the-menu">On the Menu</a>
            </div>
            <div>
                <a href="/sign-up" style="color:red">Sign up</a>
                <a id="log-in" href="/log-in">Log in</a>
            </div>
        </header>
        <section class="hero">
            <div class="hero-text">
                <h1>Fresh Flavors, Delivered to Your Doorstep</h1>
                <p>Experience the ultimate convenience of chef-inspired meal kits,<br>carefully crafted and delivered to your home</p>
                <a href="/on-the-menu" class="abutton">Get Started</a>
            </div>
        </section>
        <section class="content">
            <div id="how-it-works">
                <h2>How It Works</h2>
            </div>
            <div id="content-cards">
                <div class="content-card">
                    <img src="/images/chef.png" alt="A chef holding a dish and showing it">
                    <h4>We create original recipes</h4>
                    <p>Our skilled chef, Joao Cunha, 
                       creates over 40 exciting recipes every week.</p>
                </div>
                <div class="content-card">
                    <img src="/images/meal.png" alt="A Salmon bowl with vegetables">
                    <h4>Your flavor, your way</h4>
                    <p>Savor meals you love, like our Omega Bliss Salmon Bowl.</p>
                </div>
                <div class="content-card">
                    <img src="/images/delivery.png" alt="a delivery box with KuKeen written on the sides">
                    <h4>Quick box delivery</h4>
                    <p>Get your chosen premium ingredients delivered to your door.</p>
                </div>
                <div class="content-card">
                    <img src="/images/cooking.png" alt="a man cooking at home">
                    <h4>Easy gourmet cooking</h4>
                    <p>Become a kitchen pro in the comfort of your home.</p>
                </div>
            </div>
        </section>
        <section class="menu">
            <div>
                <h2>On the Menu this Week</h2>
            </div>
            <div class="dish-cards">
                <div class="dish-card">
                    <img src="/images/salmon.png" alt="a grilled salmon dish">
                        <div class="text-border">
                            <h4>Grilled Salmon Delight</h4>
                            <hr>
                            <div class="text-dish-card">
                                <p>Lemon herb-marinated grilled salmon served with quinoa salad and roasted asparagus.</p>
                                <button  role="button"><span class="text">$22.99 CAD</span></button>
                            </div>
                        </div>
                </div>
                <div class="dish-cards">
                    <div class="dish-card">
                        <img src="/images/risotto.png" alt="A truffle mushroom risotto in a plate">
                            <div class="text-border">
                                <h4>Truffle Mushroom Risotto</h4>
                                <hr>
                                <div class="text-dish-card">
                                    <p>Creamy risotto with wild mushrooms, truffle oil, Parmesan, and chives.</p>
                                    <button  role="button"><span class="text">$18.99 CAD</span></button>
                                </div>
                            </div>
                    </div>
                    <div class="dish-cards">
                        <div class="dish-card">
                            <img src="/images/chickpeas.png" alt="mediterranean chickpea bowl">
                                <div class="text-border">
                                    <h4>Mediterranean Chickpea Bowl</h4>
                                    <hr>
                                    <div class="text-dish-card">
                                        <p>Chickpea bowl with tomatoes, cucumber, olives, feta, and lemon vinaigrette.</p>
                                        <button  role="button"><span class="text">$14.99 CAD</span></button>

                                    </div>
                                </div>
                        </div>
            </div>
        </section>
        <section class="container-flex">
            <div class="container-call-to-action">
                <img src="/images/delivery-man.svg" alt="A delivery man with a red bike">
                <div class="container-action-text">
                    <h2 class="">Work with Us!</h2>
                    <p class="">Check out the opportunities by registering.</p>
                    <a href="/sign-up" class="abutton">Discover more</a>
                </div>
            </div>
            <div class="container-call-to-action">
                <img src="/images/store.svg" alt="A red store with a coin representing money">
                <div class="container-action-text">
                    <h2>Become a Partner!</h2>
                    <p>Join us now by registering, and embark on your journey with delicious opportunities.</p>
                    <a href="/sign-up" class="abutton">Discover more</a>
                </div>
            </div>
        </section>
        <section class="ad-container">
            <img src="/images/banner3.png">
        </section>
        <footer>
            <section class="footer-about">
                <div class="links">
                        <a href="/">Home</a>
                        <a href="/on-the-menu">On the Menu</a>
                        <a href="/sign-up">Sign up</a>
                        <a href="/log-in">Log in</a>
                </div>
                <div class="social">
                    <p>Social</p>
                    <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank" class="icon facebook">
                        <img src="/images/facebook.png" alt="Facebook" width="30" height="30">
                    </a>
                    
                    <a href="https://www.instagram.com" target="_blank" class="icon instagram">
                        <img src="/images/instagram.png" alt="Instagram" width="30" height="30">
                    </a>
                    
                    <a href="https://www.linkedin.com" target="_blank" class="icon linkedin">
                        <img src="/images/linkedin.png" alt="LinkedIn" width="30" height="30">
                    </a>
                    
                    <a href="https://www.youtube.com" target="_blank" class="icon youtube">
                        <img src="/images/youtube.png" alt="YouTube" width="30" height="30">
                    </a>
                    </div>
                </div>
            </section>
            <hr>
            <section class="footer-copyright">
                <div class="copyright">
                    <p>By submitting this assignment I declare that this assignment is my own work in accordance with the Seneca Academic Policy. 
                        No part of this assignment has been copied manually or electronically from any other source (including web sites) or distributed to other</p>
                    <p>© Joao Vitor Cunha, jvtopanotti-da-cunha@myseneca.ca, WEB322 Winter 2024</p>
                </div>
            </section>

        </footer>
    </main>
</body>
</html>