<div class="container">
    <div class="row justify-content-center text-left mt-4">
      <form class="col-12 col-md-8 col-lg-6 form-acc" action="post" action="/log-in">
          <h2 class="text-center">Welcome Back</h2>
          <hr>
          <div class="form-group">
              <label for="email" class="mb-1">Email Address</label>
              <input type="text" id="email" class="form-control" name="email">
          </div>
          <div class="form-group">
              <label for="password" class="mb-1">Password</label>
              <input type="password" id="password" class="form-control" name="password">
          </div>
          <div class="form-group text-center">
              <button type="submit" class="btn btn-block">Log in</button>
          </div>
          <div class="form-group text-center">
            <p><a class="link-to-acc" href="/sign-up">Not registered yet?</a></p>
          </div>
      </form>
    </div>
  </div>