
<div class="container text-center mt-4">
    <div class="hero-text mt-4">
        <br><br><br>
        <h1>Hello customer, welcome to the <b>cart</b></h1>
        <p class="fs-6">Get ready to elevate your culinary creations!</p>
    </div>
</div>
<br><br><br>
