<div class="container">
  <div class="row justify-content-center text-left mt-4">
    <form
      class="col-8 col-md-8 col-lg-6 form-acc"
      action="/log-in"
      method="post"
    >
      <h2 class="text-center">Welcome Back</h2>
      <hr />
      <div class="form-group">
        <label class="mt-1">What is your role?</label>
        <span class="text-muted d-block mt-0 mb-2" style="font-size: 0.85em;">
          <small>A customer can purchase mealkits,
            while a data clerk can add, edit, and remove mealkits.</small>
        </span>
        <div class="d-flex justify-content-around">
          <div class="justify-content-center">
            <div class="form-check mx-6">
              <input
                class="form-check-input"
                type="radio"
                name="role"
                id="customer"
                value="customer"
                checked
              />
              <label class="form-check-label" for="role"> Customer </label>
            </div>
          </div>
          <div>
            <div class="form-check mx-6">
              <input
                class="form-check-input"
                type="radio"
                name="role"
                id="data-clerk"
                value="data-clerk"
              />
              <label class="form-check-label" for="role">
                Data clerk
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="mb-1">Email Address</label>
        <input
          type="text"
          id="email"
          class="form-control"
          name="email"
          value="<%-values.email%>"
        />
        <% if (validationMessages.email) { %>
        <span style="color: red"><%= validationMessages.email %></span><br />
        <% } %>
      </div>
      <div class="form-group">
        <label for="password" class="mb-1">Password</label>
        <div class="d-flex">
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            value="<%-values.password%>"
          />
          <i class="bi bi-eye-slash" id="togglePassword"></i>
        </div>
        <% if (validationMessages.password) { %>
        <span style="color: red"><%= validationMessages.password %></span><br />
        <% } %>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-block">Log in</button>
      </div>
      <div class="form-group text-center">
        <p><a class="link-to-acc" href="/sign-up">Not registered yet?</a></p>
      </div>
    </form>
  </div>
</div>
<script src="/togglePassword.js"></script>
