<div class="container-md text-center d-flex ml-3 mr-3 mt-4">
    <div class="jumbotron col justify-content-center w">
      <h1 class="display-4"><%-message%></h1>
      <hr class="my-4" />
      <a class="btn" id="log-in" href="/mealkits/list" role="button">Go to Mealkits List</a>
    </div>
  </div>