<div class="container text-center mt-4">
    <div class="hero-text mt-4">
        <br><br><br>
        <h1>Thank you for choosing KuKeen.</h1>
        <p class="fs-6">Get ready to elevate your culinary creations!</p>
        <a href="/mealkits" class="abutton">Get Started</a>
    </div>
</div>
<br><br><br>
