<div class="container mt-4">
  <div class="alert-warning text-center p-3" role="alert">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <strong>Warning: </strong>Alterations made to the website are stored permanently. 
    Please exercise caution when modifying content as it directly impacts the appearance and functionality of the website.
  </div>
  <div class="dish-cards">
    <div class="dish-card add-card">
      <a href="/mealkits/add" id="log-in" style="text-decoration: none"
        >Add New Mealkit</a
      >
    </div>
    <%mealkits.forEach(mealkit => { %>
    <%-include('../partials/mealkit', {mealkit:mealkit, list:true}) %>
    <%}); %>
  </div>
</div>
<br /><br /><br />
