<div class="container mt-4">
  <br /><br /><br />
  <div class="dish-cards">
    <div class="dish-card add-card">
      <a href="/mealkits/add" id="log-in" style="text-decoration: none"
        >Add New Mealkit</a
      >
    </div>
    <%mealkits.forEach(mealkit => { %>
    <%-include('../partials/mealkit', {mealkit:mealkit, list:true}) %>
    <%}); %>
  </div>
</div>
<br /><br /><br />
