<section class="menu">
    <div>
        <h1>On the Menu this Week</h1>
    </div>
    <div>
        <%mealObj.forEach(mealobj => {%>
            <div class="category">
                <h2><%= mealobj.categoryName%> Meals</h2>
                <div class="dish-cards">
                    <%mealobj.mealkits.forEach(mealkit => {%>
                        <%- include('../partials/mealkit', mealkit) %>
                    <%}); %>    
                </div>
            </div>
        <%}); %>    
    </div>
</section>